

<div>
  <img src= 'assets/about/bg.png' alt = "background" class="backround">
</div>

<div>
  <img src= 'assets/about/About_us.png' alt = "about-us-main" class="about-us-main">
</div>

<div>
  <img src= 'assets/about/base.png' alt = "base" class="base">
</div>

<div>
  <img src= 'assets/about/payme.png' alt = "payme" class="payme">
</div>

<div>
  <img src= 'assets/about/description.png' alt = "description" class="blah">
</div>

<div>
  <img src= 'assets/about/Our_group_members.png' alt = "our_group_members" class="our_group_members">
</div>

<div>
  <img src= 'assets/about/our_names.png' alt = "our_names" class="our_names">
</div>

