
<body class = main-page>

  <div>
    <img src="assets/sign-in/phone.png" alt="iphone" class="iPhone">
  </div>
  <div>

      <img src="assets/sign-in/welcome.png" alt="welcome" class="welcome">


  </div>
  <div>
    <img src="assets/sign-in/names.png" alt="names" class="names">
  </div>
  <div>
    <img src="assets/sign-in/Rectangle_8.png" alt="signInBorder" class="signInBorder">
  </div>
  <div>
  <div>
    <a href="dashboard">
      <input type = "image" src="assets/sign-in/log_in.png" alt="LogIn" class="LogIn">
    </a>

  </div>

    <img src="assets/sign-in/forgot_password.png" alt="forgot" class="forgot">
  </div><div>
    <img src="assets/sign-in/E-mail.png" alt="email" class="email">
  </div>
  <div>
    <img src="assets/sign-in/Password.png" alt="password" class="password">
  </div>
  <div>
    <img src="assets/sign-in//email_box.png" alt="emailBox" class="emailBox">
  </div>
  <div>
    <img src="assets/sign-in/password_field.png" alt="passwordField" class="passwordField">
  </div>
  <div>
    <img src="assets/sign-in/Sign_in.png" alt="signIn" class="signIn">
  </div>
  <div>
    <img src="assets/sign-in/none.png" alt="none" class="none">
  </div>


