
<!-- <div class = "container"> -->
  <div class="friendbase">
    <img src="assets/rightBar/Friends_base_white.png">
  </div>
  <div class = "paraFriend">
    <a href="">
      <p class="text-primary">Friend(9)</p>
    </a>
    <div class="friend1">
      <a href="">
        <img src="assets/rightBar/friend_1.png">
      </a>
    </div>
    <div class="friend2">
      <a href="">
        <img src="assets/rightBar/friend_2.png">
      </a>
    </div>
    <div class="friend3">
      <a href="">
        <img src="assets/rightBar/friend_3.png">
      </a>
    </div>
    <div class="friend4">
      <a href="">
        <img src="assets/rightBar/friend_4.png">
      </a>
    </div>

  </div>

  <div class="groupBase">
    <img src="assets/rightBar/group_base_white.png">
  </div>
  <div class = "groups">
    <a href="">
      <p class="text-primary">Groups(7)</p>
    </a>
  </div>
  <div class="groupText">

    <p>· Eurasia trip </p>

    <p>· Amy's birthday</p>

    <p>· South America and Japan</p>

    <p>· Depaul Class 2020</p>


  </div>




<!-- </div> -->
