
div.friendbase {
  width: 368px;
  height: 177px;
  position: fixed;
  left: 1450px;
  top: 300px;
  background: rgba(0,0,0,0);
}
div.paraFriend {
  position: fixed;
  left: 1460px;
  top: 330px;
  width: 129px;
  height: 12px;
  color: #0149a1;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 12px;
}
div.friend1 {
  position: fixed;
  left: 1460px;
  top: 360px;
  width: 129px;
  height: 12px;
  color: #0149a1;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 12px;
}
div.friend2 {
  position: fixed;
  left: 1540px;
  top: 360px;
  width: 129px;
  height: 12px;
  color: #0149a1;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 12px;
}
div.friend3 {
  position: fixed;
  left: 1620px;
  top: 360px;
  width: 129px;
  height: 12px;
  color: #0149a1;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 12px;
}
div.friend4 {
  position: fixed;
  left: 1700px;
  top: 360px;
  width: 129px;
  height: 12px;
  color: #0149a1;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 12px;
}
div.groups {
  position: fixed;
  left: 1460px;
  top: 500px;
  width: 110px;
  height: 12px;
  color: #0149a1;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 12px;
}
div.groupBase {
  position: fixed;
  left: 1450px;
  top: 500px;
  width: 368px;
  height: 236px;
  background: rgba(0,0,0,0);
}
div.groupText {
  position: fixed;
  left: 1480px;
  top: 520px;
  width: 222px;
  height: 139px;
  color: #0149a1;
  font-family: "MyriadPro-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
}

