<div class="top-header">

    <div class="logoContainer"></div>

    <div class="logoContainer payMe">

        <img class="app-logo-box" alt="boxLogo" src="assets/menu-bar/daa26d1a-d1fc-4e63-9c06-4bfa04e7e9b4_200x200.svg" />
        <div class="app-logo-name"> PayMe </div>
        <img class="app-logo-leaf" alt="leafLogo" src="assets/menu-bar/圖層_1.svg" />

    </div>

    <div class="logoContainer"></div>

    <div class="logoContainer buttonBar">
        <a href="dashboard">
            <div class="homeButton buttonText" >
                Home
                </div>
        </a>


        <div class="aboutUsButton buttonText">
        About Us
        </div>

        <div class="activityButton buttonText">
        Activity
        </div>

        <div class="helpButton buttonText">
        Help
        </div>

        <div class="logOutButton buttonText">
        Log Out
        </div>

    </div>

    <div class="logoContainer socials">

        <img class="twitter logo" alt="twitterLogo"  src="assets/menu-bar/twitter.svg" />


        <img class="facebook logo" alt="facebookLogo" src="assets/menu-bar/facebook.svg" />

    </div>

</div>
