
<img src="assets/images/Settle_up.png" alt="Add an expense text" style="position:absolute;top:176px;left:299px;">
<img src="assets/images/BG.png" alt="expense background" style="position:absolute;top:236px;left:293px;">
<img src="assets/images/Rectangle_2_copy_6.png" alt="expense gray background" style="position:absolute;top:236px;left:293px;">

<img src="assets/images/Paid.png" alt="Paid: " style="position:absolute;top:265px;left:324px;">
<img src="assets/images/Textfields.png" alt="Description Textfields" style="position:absolute;top:384px;left:611px;">
<img src="assets/images/description_blue.png" alt="description blue background" style="position:absolute;top:384px;left:611px;">
<img src="assets/images/US$.png" alt="US$ Icon" style="position:absolute;top:407px;left:621px;">
<img src="assets/images/0.png" alt="money placeholder" style="position:absolute;top:410px;left:722px;">
<img src="assets/images/coner_star.png" alt="coner star decorate" style="position:absolute;top:384px;left:1030px;">
<img src="assets/images/Description.png" alt="Description text" style="position:absolute;top:503px;left:614px;">
<img src="assets/images/decoration_line.png" alt="Decoration line" style="position:absolute;top:530px;left:611px;">
<img src="assets/images/Type_some_description.png" alt="Type some description" style="position:absolute;top:503px;left:794px;">
<img src="assets/images/add-people_button.png" alt="Add people button" style="position:absolute;top:257px;left:1281px;">
<img src="assets/images/add-people_button.png" alt="Add people button" style="position:absolute;top:257px;left:1281px;">

<img src="assets/images/Layer_40.png" alt="temp share people pic" style="position:absolute;top:257px;left:450px;">
<img src="assets/images/Jordi_Prims.png" alt="temp share people name" style="position:absolute;top:275px;left:515px;">
<img src="assets/images/Layer_38.png" alt="temp share people pic" style="position:absolute;top:257px;left:625px;">
<img src="assets/images/Anna_Maria_Novak.png" alt="temp share people name" style="position:absolute;top:275px;left:680px;">

<img src="assets/images/Btn.png" alt="paid button" style="position:absolute;top:604px;left:710px;">
<img src="assets/images/Paid_text.png" alt="temp paid text" style="position:absolute;top:620px;left:815px;">
