

  <div class="Settle_up">
    <img src="assets/images/Settle_up.png" alt="Add an expense text" >
  </div>


<div class="BG">
  <div class="Textfields">
    <img src="assets/images/Textfields.png" alt="Description Textfields">
  </div>
  <div class="US">
    <img src="assets/images/US$.png" alt="US$ Icon">
  </div>
  <div class="_0">
    <img src="assets/images/0.png" alt="money placeholder" >
  </div>
  <div class="coner_star">
    <img src="assets/images/coner_star.png" alt="coner star decorate" >
  </div>
  <div class="Description">
    <img src="assets/images/Description.png" alt="Description text" >
  </div>
  <div class="decoration_line">
    <img src="assets/images/decoration_line.png" alt="Decoration line" >
  </div>


  <div class="Type_some_description">
    <img src="assets/images/Type_some_description.png" alt="Type some description">
  </div>

  <div class="Rectangle_2_copy_6">
    <div class="With_you_and_">
      <img src="assets/images/With_you_and_.png" alt="With you and text">
    </div>
    <div class="Layer_23">
      <img src="assets/images/Layer_23.png" alt="share people temp" >
    </div>
    <div class="Layer_40">
      <img src="assets/images/Layer_40.png" alt="profile name" >
    </div>
    <div class="people_button">
      <img src="assets/images/add-people_button.png" alt="Add people button" >
    </div>
    <div class="Joshua_Calloway">
      <img src="assets/images/Joshua_Calloway.png" alt="share people temp" >
    </div>

    <div class="Jordi_Prims">
      <img src="assets/images/Jordi_Prims.png" alt="profile name">
    </div>

    <!-- <div class="description_blue">
      <img src="assets/images/description_blue.png" alt="description blue background" >
    </div> -->
    <img src="assets/images/Rectangle_2_copy_6.png" alt="expense gray background">

  </div>

  <div class="Btn_expense">
    <img src="assets/images/Btn_expense.png" alt="Btn_expense" >
  </div>
  <div class="Paid_text">
    <img src="assets/images/Paid_text.png" alt="temp paid text">
    </div>




  <img src="assets/images/BG.png" alt="expense background">

</div>
<app-right-side-bar></app-right-side-bar>
<app-user-profile></app-user-profile>
<router-outlet></router-outlet>



