
<!-- <img src="assets/images/Rectangle_3.png" alt="Rectangle menu white background" style="position:absolute;top:-2px;left:-31px;">
<img src="assets/images/1.png" alt="Logo" style="position:absolute;top:16px;left:293px;">
<img src="assets/images/home.png" alt="home button" style="position:absolute;top:44px;left:1005px;">
<img src="assets/images/about_us.png" alt="about us button" style="position:absolute;top:44px;left:1105px;">
<img src="assets/images/activity.png" alt="activity button" style="position:absolute;top:44px;left:1216px;">
<img src="assets/images/help.png" alt="help button" style="position:absolute;top:44px;left:1314px;">
<img src="assets/images/log_out.png" alt="log out button" style="position:absolute;top:44px;left:1388px;">
<img src="assets/images/facebook.png" alt="facebook button" style="position:absolute;top:28px;left:1487px;">
<img src="assets/images/twitter.png" alt="twitter button" style="position:absolute;top:28px;left:1548px;"> -->
<img src="assets/images/Settle_up.png" alt="Add an expense text" style="position:absolute;top:176px;left:299px;">
<img src="assets/images/BG.png" alt="expense background" style="position:absolute;top:236px;left:293px;">
<img src="assets/images/Rectangle_2_copy_6.png" alt="expense gray background" style="position:absolute;top:236px;left:293px;">

<img src="assets/images/Paid.png" alt="Paid: " style="position:absolute;top:265px;left:324px;">
<img src="assets/images/Textfields.png" alt="Description Textfields" style="position:absolute;top:384px;left:611px;">
<img src="assets/images/description_blue.png" alt="description blue background" style="position:absolute;top:384px;left:611px;">
<img src="assets/images/US$.png" alt="US$ Icon" style="position:absolute;top:407px;left:621px;">
<img src="assets/images/0.png" alt="money placeholder" style="position:absolute;top:410px;left:722px;">
<img src="assets/images/coner_star.png" alt="coner star decorate" style="position:absolute;top:384px;left:1030px;">
<img src="assets/images/Description.png" alt="Description text" style="position:absolute;top:503px;left:614px;">
<img src="assets/images/decoration_line.png" alt="Decoration line" style="position:absolute;top:530px;left:611px;">
<img src="assets/images/Type_some_description.png" alt="Type some description" style="position:absolute;top:503px;left:794px;">
<img src="assets/images/add-people_button.png" alt="Add people button" style="position:absolute;top:257px;left:1281px;">
<img src="assets/images/add-people_button.png" alt="Add people button" style="position:absolute;top:257px;left:1281px;">

<img src="assets/images/Layer_40.png" alt="temp share people pic" style="position:absolute;top:257px;left:450px;">
<img src="assets/images/Jordi_Prims.png" alt="temp share people name" style="position:absolute;top:275px;left:515px;">
<img src="assets/images/Layer_38.png" alt="temp share people pic" style="position:absolute;top:257px;left:625px;">
<img src="assets/images/Anna_Maria_Novak.png" alt="temp share people name" style="position:absolute;top:275px;left:680px;">

<img src="assets/images/Btn.png" alt="paid button" style="position:absolute;top:604px;left:710px;">
<img src="assets/images/Paid_text.png" alt="temp paid text" style="position:absolute;top:620px;left:815px;">

<!-- <img src="assets/images/profile_base_white.png" alt="profile base background" style="position:absolute;top:140px;left:1428px;">
<img src="assets/images/profile_temp_pic.png" alt="profile temp pic" style="position:absolute;top:162px;left:1454px;"> -->

<!--
<img src="assets/images/Depaul_University_Student.png" alt="prffile temp career" style="position:absolute;top:217px;left:1570px;">
<img src="assets/images/Friends_base_white.png" alt="Friends background white" style="position:absolute;top:278px;left:1428px;">
<img src="assets/images/Friends(39).png" alt="Friends text" style="position:absolute;top:297px;left:1460px;">
<img src="assets/images/plus.png" alt="plus add" style="position:absolute;top:298px;left:1566px;">
<img src="assets/images/Layer_19.png" alt="temp friends 01" style="position:absolute;top:330px;left:1456px;">
<img src="assets/images/Layer_20.png" alt="temp friends 02" style="position:absolute;top:330px;left:1534px;">
<img src="assets/images/Layer_21.png" alt="temp friends 03" style="position:absolute;top:330px;left:1611px;">
<img src="assets/images/Layer_18.png" alt="temp friends 04" style="position:absolute;top:330px;left:1687px;">
<img src="assets/images/next.png" alt="friend next icon" style="position:absolute;top:355px;left:1772px;"> -->

<!-- <img src="image/group_base_white.png" alt="Groups background white" style="position:absolute;top:465px;left:1428px;">
<img src="image/Groups(7).png" alt="Groups text" style="position:absolute;top:490px;left:1459px;">
<img src="image/plus.png" alt="plus add" style="position:absolute;top:492px;left:1546px;">
<img src="image/bullets.png" alt="Groups bullets" style="position:absolute;top:530px;left:1460px;">
<img src="image/Group_name.png" alt="Group name" style="position:absolute;top:526px;left:1479px;">
<img src="image/next1.png" alt="Group next" style="position:absolute;top:672px;left:1608px;"> -->


<!-- <style type="text/css">
.page_title {
	font-family: Source Sans Pro Semibold;
	color: #acb2bd;
	font-size:72px;
	/* width: 556px;
	height: 49px; */
	font-size: 72px;
	font-weight: 600;
	line-height: 45px;
	/* text-transform: uppercase; */
	position: absolute;
	top: 77px;
	left: 302px;


}
</style>

<p class= "page_title">ADD AN EXPENSE</p> -->

<!-- <img src="1.png" alt="Girl in a jacket" style="width:207px;height:65px;">
<!-- //<img src="your logo image url" style="position:absolute;top:16px;left:293px;"> -->

 <!-- <label for="name">Name:</label>
  <input type="text" id="name" name="name"><br><br>

  <label for="travelDate">Enter travel date:</label>
  <input type="date" id="travelDate" name="travelDate" min="2020-10-01"><br><br>

  <label for="numOfTravelers">Num of travelers:</label>
  <input type="number" id="numOfTravelers" name="numOfTravelers" min="1" max="5"><br><br>

  <label for="myemail">Confirmation email:</label>
  <input type="email" id="myemail" name="myemail"><br><br>

  <label for="originationAirport">Origination Airport:</label>
  <select name="originationAirport" id="originationAirport">
    <option value="ord">OHare</option>
    <option value="lag">NY Laguardia</option>
    <option value="bos">Boston</option>
  </select>
  <br><br>

  <label for="cabin">Cabin:</label>
  <input type="radio" id="regular" name="cabin" value="regular">
  <label for="regular">Regular1</label>
  <input type="radio" id="1st" name="cabin" value="1st">
  <label for="1st">First Class</label>
  <input type="radio" id="business" name="cabin" value="business">
  <label for="business">Business</label>
<br><br>
  <input type="submit">
</form>
 -->
