

.Settle_up {
  position: relative;
  top: 100px;
  left: 290px;
}

.Rectangle_2_copy_6 {
  position: relative;
  top: 0px;
  left: 0px;
}

.BG {
  position: relative;
  top: 0px;
  left: 296px;
}
.With_you_and_ {
  position: relative;
  top: 60px;
  left: 40px;
}


.Textfields {
  position: relative;
  top: 380px;
  left: 280px;
}


.description_blue {
  position: relative;
  top: 384px;
  left: 611px;
}


.US {
  position: relative;
  top: 325px;
  left: 300px;
}


._0 {
  position: absolute;
  top: 400px;
  left: 400px;
}


.coner_star {
  position: absolute;
  top: 378px;
  left: 700px;
}


.Description {
  position: absolute;
  top: 503px;
  left: 280px;
}

.decoration_line {
  position: absolute;
  top: 530px;
  left: 280px;
}



.Type_some_description {
  position: absolute;
  top: 503px;
  left: 450px;
}


.people_button {
  position: absolute;
  top: 50px;
  left: 980px;
}


.Btn_expense {
  position: absolute;
  top: 604px;
  left: 350px;
}


.Paid_text {
  position: absolute;
  top: 610px;
  left: 450px;
}

.Layer_23 {
  position: absolute;
  top: 50px;
  left: 300px;
}
.Layer_40 {
  position: absolute;
  top: 50px;
  left: 500px;
}

.Joshua_Calloway {
  position: absolute;
  top: 60px;
  left: 350px;
}



.Jordi_Prims {
  position: absolute;
  top: 60px;
  left: 560px;
}



