

<div class="logoContainer"></div>



<div class="top-header">

  <div class="logoContainer"></div>

  <div class="logoContainer payMe">

      <img class="app-logo-box" alt="boxLogo" src="assets/menu-bar/daa26d1a-d1fc-4e63-9c06-4bfa04e7e9b4_200x200.svg" />
      <a href = "login">
      <div class="app-logo-name"> PayMe </div>
      </a>
      <img class="app-logo-leaf" alt="leafLogo" src="assets/menu-bar/圖層_1.svg" />

  </div>


  <div class="logoContainer buttonBar">

      <a class="homeButton buttonText" href = "dashboard">
      Home
      </a>

      <a class= "about-Us buttonText" href = "about" >
      About Us
      </a>

      <a class="activityButton buttonText" href="groupExpense">
      Activity
      </a>

      <a class="helpButton buttonText" href="help">
      Help
      </a>

      <a class="logOutButton buttonText" href="login">
      Log Out
      </a>

  </div>

  <div class="logoContainer socials">

      <img class="twitter logo" alt="twitterLogo"  src="assets/menu-bar/twitter.svg" />

      <a href="facebook">
        <img class="facebook logo" alt="facebookLogo" src="assets/menu-bar/facebook.svg" />
      </a>

  </div>

</div>


<router-outlet></router-outlet>






