
<body>
<!--  BOTTOM PART OF PAGE -->

    <div class="bottom-container">

    <div class="bc-left-space"> </div>

    <div class="bc-left">

        <div class="bc-left-upper">

        <div class="trips-text">
            EURASIA TRIPS
        </div>

        <div class="expense-button-container">
            <a href="addExpense">
              <div class="expense-button">
                <img src="assets/group-expenses/ADD_AN_EXPENSE.svg" alt="expenseButton"/>
                </div>
            </a>

            <a  href="settleUp">
              <div class="expense-button">
                <img src="assets/group-expenses/sETTLE_UP.svg" alt="settleUpButton"/>
                </div>
            </a>


        </div>

        </div>

        <div class="bc-left-middle">

        <div class="group-member-title">
            Group Members
        </div>

        <div class="group-member-container">

            <div class="group-member-row">

            <img src="assets/group-expenses/Layer_38_copy_拷貝.png" alt="profImg1" />

            <a href="/">Anna Maria Novak</a>

            </div>
            <div class="group-member-row">

            <img src="assets/group-expenses/Layer_23_拷貝.png" alt="profImg2" />

            <a href="/">Huong Nguyen</a>

            </div>
            <div class="group-member-row">

            <img src="assets/group-expenses/Layer_22.png" alt="profImg3" />

            <a href="/">Bey Thompson</a>

            </div>
            <div class="group-member-row">

            <img src="assets/group-expenses/Layer_21_拷貝.png" alt="profImg4" />

            <a href="/">Amy Johnson</a>

            </div>
            <div class="group-member-row">

            <img src="assets/group-expenses/Layer_17.png" alt="profImg5" />

            <a href="/">Joshua Calloway</a>

            </div>
            <div class="temp-see-all">

            See All

            </div>
        </div>

        </div>

        <div class="bc-left-lower"></div>

    </div>

    <div class="bc-right"> </div>

    </div>

</body>
<router-outlet></router-outlet>
<app-right-side-bar></app-right-side-bar>
<app-user-profile></app-user-profile>
