

<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>

    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>

<style>
  body {
    font-family: Source Sans Pro Semibold;;
  }
  </style>


 <div class="container-fluid" style="width: 100%;">
  <p class="page_title card-subtitle card-text" style="font-size : 60px; position:relative;top:100px;left:300px; " >ADD AN EXPENSE</p>
</div>


<div class="col-md-7 mb-3" style="position:relative;top:110px;left:299px; height: 55rem;">
    <div class="card" style="width: 100%; height: 30rem;">


    <div class="card-header"style="width: 100%; height: 5rem;">


      <p class="page_title card-subtitle card-text">With you and :</p>
      <button type="button" class="btn btn-primary btn-circle btn-md" style="font-size : 20px;" >+</button>


  </div>

    <div class="card-body">


  <div class="container-fluid" style="width: 70%;">
      <div class="input-group mb-3" style=" position:relative;top:30px;" >
        <div class="input-group-prepend" >
          <span class="input-group-text">US$</span>
        </div>
        <form (submit)="addValue()">
        <input [(ngModel)]="newValue" name="newValue" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" style=" height: 5rem;" >
      </form>
        <div class="input-group-append">


        </div>
      </div>
    </div>

    <div class="container-fluid" style="width: 70%; position:relative;top:50px;">
    <div class="form-group">
      <label for="name" class="control-label" style="color: #acb2bd; font-size: 16px;">Description: </label>
      <input type="text1" name="name" class="form-control" id="name" >
    </div>
  </div>


    <div class="container-fluid" style="width: 100%; position:relative;top:90px;">
      <div class="col-sm-12 text-center">
      <!-- <button type="button" class="btn btn-primary btn-lg">Paid by you and split equally</button> -->


      <a href="paypal">
      <button class="button">Paid by you and split equally</button>
      </a>

    </div>
    </div>
    </div>
  </div>

</div>
<app-paypal [value]="10"></app-paypal>

<app-right-side-bar></app-right-side-bar>
<app-user-profile></app-user-profile>
<router-outlet></router-outlet>
