

<!-- <img src="assets/images/Rectangle_3.png" alt="Rectangle menu white background" style="position:absolute;top:-2px;left:-31px;">
<img src="assets/images/1.png" alt="Logo" style="position:absolute;top:16px;left:293px;">
<img src="assets/images/home.png" alt="home button" style="position:absolute;top:44px;left:1005px;">
<img src="assets/images/about_us.png" alt="about us button" style="position:absolute;top:44px;left:1105px;">
<img src="assets/images/activity.png" alt="activity button" style="position:absolute;top:44px;left:1216px;">
<img src="assets/images/help.png" alt="help button" style="position:absolute;top:44px;left:1314px;">
<img src="assets/images/log_out.png" alt="log out button" style="position:absolute;top:44px;left:1388px;">
<img src="assets/images/facebook.png" alt="facebook button" style="position:absolute;top:28px;left:1487px;">
<img src="assets/images/twitter.png" alt="twitter button" style="position:absolute;top:28px;left:1548px;"> -->

<!-- <img src="assets/images/profile_base_white.png" alt="profile base background" style="position:absolute;top:140px;left:1428px;">
<img src="assets/images/profile_temp_pic.png" alt="profile temp pic" style="position:absolute;top:162px;left:1454px;"> -->



<!-- <img src="assets/images/Depaul_University_Student.png" alt="prffile temp career" style="position:absolute;top:217px;left:1570px;">
<img src="assets/images/Friends_base_white.png" alt="Friends background white" style="position:absolute;top:278px;left:1428px;">
<img src="assets/images/Friends(39).png" alt="Friends text" style="position:absolute;top:297px;left:1460px;">
<img src="assets/images/plus.png" alt="plus add" style="position:absolute;top:298px;left:1566px;">
<img src="assets/images/Layer_19.png" alt="temp friends 01" style="position:absolute;top:330px;left:1456px;">
<img src="assets/images/Layer_20.png" alt="temp friends 02" style="position:absolute;top:330px;left:1534px;">
<img src="assets/images/Layer_21.png" alt="temp friends 03" style="position:absolute;top:330px;left:1611px;">
<img src="assets/images/Layer_18.png" alt="temp friends 04" style="position:absolute;top:330px;left:1687px;">
<img src="assets/images/next.png" alt="friend next icon" style="position:absolute;top:355px;left:1772px;"> -->

<!-- <img src="assets/images/group_base_white.png" alt="Groups background white" style="position:absolute;top:465px;left:1428px;">
<img src="assets/images/Groups(7).png" alt="Groups text" style="position:absolute;top:490px;left:1459px;">
<img src="assets/images/plus.png" alt="plus add" style="position:absolute;top:492px;left:1546px;">
<img src="assets/images/bullets.png" alt="Groups bullets" style="position:absolute;top:530px;left:1460px;">
<img src="assets/images/Group_name.png" alt="Group name" style="position:absolute;top:526px;left:1479px;">
<img src="assets/images/next1.png" alt="Group next" style="position:absolute;top:672px;left:1608px;"> -->


<img src="assets/images/Add_an_expense.png" alt="Add an expense text" style="position:absolute;top:176px;left:299px;">
<img src="assets/images/BG.png" alt="expense background" style="position:absolute;top:236px;left:293px;">
<img src="assets/images/Rectangle_2_copy_6.png" alt="expense gray background" style="position:absolute;top:236px;left:293px;">
<img src="assets/images/With_you_and_.png" alt="With you and text" style="position:absolute;top:265px;left:324px;">
<img src="assets/images/Textfields.png" alt="Description Textfields" style="position:absolute;top:384px;left:611px;">
<img src="assets/images/description_blue.png" alt="description blue background" style="position:absolute;top:384px;left:611px;">
<img src="assets/images/US$.png" alt="US$ Icon" style="position:absolute;top:407px;left:621px;">
<img src="assets/images/0.png" alt="money placeholder" style="position:absolute;top:410px;left:722px;">
<img src="assets/images/coner_star.png" alt="coner star decorate" style="position:absolute;top:384px;left:1030px;">
<img src="assets/images/Description.png" alt="Description text" style="position:absolute;top:503px;left:614px;">
<img src="assets/images/decoration_line.png" alt="Decoration line" style="position:absolute;top:530px;left:611px;">
<img src="assets/images/Type_some_description.png" alt="Type some description" style="position:absolute;top:503px;left:794px;">
<img src="assets/images/add-people_button.png" alt="Add people button" style="position:absolute;top:257px;left:1281px;">

<img src="assets/images/Btn_expense.png" alt="Btn_expense" style="position:absolute;top:604px;left:710px;">
<img src="assets/images/Paid_by_you_and_split_equally.png" alt="Paid by you" style="position:absolute;top:619px;left:730px;">

<img src="assets/images/Layer_23.png" alt="share people temp" style="position:absolute;top:257px;left:560px;">
<img src="assets/images/Joshua_Calloway.png" alt="share people temp" style="position:absolute;top:275px;left:617px;">
<img src="assets/images/Layer_40.png" alt="profile name" style="position:absolute;top:257px;left:764px;">
<img src="assets/images/Jordi_Prims.png" alt="profile name" style="position:absolute;top:275px;left:818px;">



