<body>
  <!--  BOTTOM PART OF PAGE -->

  <div class="bottom-container">
    <div class="bc-left-space"></div>

    <div class="bc-left">
      <div class="bc-left-upper">
        <div class="dashboard-text">DASHBOARD</div>

        <div class="expense-button-container">
          <div class="expense-button">
            <a href ="addExpense">
              <button  class="addAnExpenseButton" name="button" >ADD AN EXPENSE</button>
            </a>


          </div>


          <div class="expense-button-container">
            <a href="settleUp">
              <button  class="settleUpButton" name="button" >SETTLE UP</button>
            </a>

          </div>
        </div>
      </div>

      <div class="bc-left-middle">
        <div class="dashboard-member-title">
          <div class = "dashboard-button">

            <img  class ="image" src="assets/dashboard/money_small_size.JPG" alt="moneyImage" />

          </div>
         <div >
          <button  class="dashboardButtons" name="button">Total Balance</button>

         </div>

          <div class = "dashboard-button">
            <img class ="image"   src="assets/dashboard/wallet_small_size.JPG" alt="walletImage" />

          </div>

          <div >
            <button class="dashboardButtons" name="button">You Owe</button>
          </div>

          <div class = "dashboard-button">
            <img class ="image" src="assets/dashboard/notes_small_size.JPG" alt="notesImage" />


          </div >
          <div> <button class="dashboardButtons" name="button">You Are Owed</button></div>


        </div>
        <div class="group-member-title">You Owe</div>

        <div class="group-member-container">
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="temp-see-all">
            <!--See All -->
          </div>
        </div>
        <div class="group-member-title">You Are Owed</div>
        <div class="group-member-container">
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
        </div>
      </div>

      <div class="bc-left-lower"></div>
    </div>

    <div class="bc-right"></div>
  </div>
</body>
<router-outlet></router-outlet>
