<body>
  <!--  BOTTOM PART OF PAGE -->

  <div class="bottom-container">
    <div class="bc-left-space"></div>

    <div class="bc-left">
      <div class="bc-left-upper">
        <div class="trips-text">DASHBOARD</div>

        <div class="expense-button-container">
          <div class="expense-button">
            <button  class="mysecondbutton" name="button">ADD AN EXPENSE</button>
            
          </div>
                   

          <div class="expense-button-container">
            <button  class="myfirstbutton" name="button">SETTLE UP</button>
          </div>
        </div>
      </div>

      <div class="bc-left-middle">
        <div class="dashboard-member-title">
          <div class = "dashboard-button">
                     
            <img  class ="image" src="assets/icons/money_small_size.JPG" alt="expenseButton" />
          
          </div>
         <div >
          <button  class="mybutton" name="button">Total Balance</button>

         </div>
         
          <div class = "dashboard-button">
            <img class ="image"   src="assets/icons/wallet_small_size.JPG" alt="expenseButton" />
                      
          </div>
        
          <div >
            <button class="mybutton" name="button">You Owe</button>
          </div>
          
          <div class = "dashboard-button">
            <img class ="image" src="assets/icons/note_small_size.JPG" alt="expenseButton" />
            
           
          </div >
          <div> <button class="mybutton" name="button">You Are Owed</button></div>
                               
         
        </div>
        <div class="group-member-title">You Owe</div>

        <div class="group-member-container">
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="temp-see-all">
            <!--See All -->
          </div>
        </div>
        <div class="group-member-title">You Are Owed</div>
        <div class="group-member-container">
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
          <div class="group-member-row">
            <a href="/"></a>
          </div>
        </div>
      </div>

      <div class="bc-left-lower"></div>
    </div>

    <div class="bc-right"></div>
  </div>
</body>
